@import "~bootstrap/scss/bootstrap";

.sol-input {
    margin-top: 30px;
    width: 90%
}

.float-right {
    float: right;
}

.minor-right-margin {
    margin-right: 10px;
}

.hide-scroll::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.move-right {
    text-align: right;
}

.image-viewer {
    width: 50%;
    height: 50%;
    margin: auto;
    border: 1px solid;
    .rover-pic {
        height: 100%;
        width: 100%;
    }
}